<div class="main">
	<div class="project-wrapper">
		<div class="project">
			<div class="blog-left">
				<div class="blog-bg">
					<h4>Użytkownicy sieci</h4>
					<span class="author">od 2014-10-10 do 2014-11-11</span>
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="project-list2">
				<table>
					<tr>
						<th><a href="">Lp.</a></th>
						<th><a href=""
							ng-click="prepareFilteredData('name',reverse=!reverse);">Host</a></th>
						<th><a href=""
							ng-click="prepareFilteredData('accounts',reverse=!reverse);">Login
								sieci</a></th>
						<th><a href=""
							ng-click="prepareFilteredData('data_in',reverse=!reverse);">Dane
								ściągnięte</a></th>
						<th><a href=""
							ng-click="prepareFilteredData('data_out',reverse=!reverse);">Dane
								wysłane</a></th>
						<th><a href=""
							ng-click="prepareFilteredData('data_mac',reverse=!reverse);">MAC</a></th>
						<th><a href=""
							ng-click="prepareFilteredData('firstseen',reverse=!reverse);">Pierwszy
								zalogowanie</a></th>
						<th><a href=""
							ng-click="prepareFilteredData('lastseen',reverse=!reverse);">Ostatnie
								zalogowanie</th>
						<th><a href=""
							ng-click="prepareFilteredData('connections',reverse=!reverse);">Ilośc
								zalogowań</th>
					</tr>
					<tr data-ng-repeat="singleUser in filteredUsersInfo">
						<td>{{$index+1}}</td>
						<td>{{singleUser.name}}</td>
						<td>{{singleUser.accounts}}</td>
						<td>{{singleUser.data_in | bytes}}</td>
						<td>{{singleUser.data_out | bytes}}</td>
						<td>{{singleUser.mac}}</td>
						<td>{{singleUser.firstseen | asDate | date:'dd-MMM-yy
							HH:mm:ss'}}</td>
						<td>{{singleUser.lastseen | asDate | date:'dd-MMM-yy
							HH:mm:ss'}}</td>
						<td>{{singleUser.connections}}</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td>{{filteredUsersInfo | sumOfValue:'data_in' | bytes}}</td>
						<td>{{filteredUsersInfo | sumOfValue:'data_out' | bytes}}</td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{filteredUsersInfo | sumOfValue:'connections'}}</td>
					</tr>
				</table>
			</div>

		</div>

		<div class="project-sidebar">
			<div class="project-list">
				<div class="search_box">
					<form name="searchForm" ng-submit="prepareFilteredData()">
						<input type="text" value="Search...."
							ng-model="filterForm.filterText"> <input type="submit"
							value=''>
					</form>
				</div>
			</div>
			<div class="project-list">
				<nvd3-bar-graph tooltips="true" chart-id="horizontal"
					data="barChart" showValues="true" duration="350" width="100%"
					height="700" horizontal="true" responsive="true" style="margin:400"></nvd3-bar-graph>


				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

</div>