<div ng-controller="DashboardCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" >Dashboard</h1>
        </div>

        <!-- /.col-lg-12 -->
    </div>


    <!-- /.row -->
    <div class="row">
        <div class="col-lg-7">
            <div class="panel panel-default">
                        <div class="panel-heading">
                            Building control
                        </div>
                        <groundfloor state="state" negate="negate(name,topic)"></groundfloor>
                        <firstfloor state="state" negate="negate(name,topic)"></firstfloor>
                        <secondfloor state="state" negate="negate(name,topic)"></secondfloor>
                    </div>
            <div />
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>
                <!-- /.panel-heading -->
                <notifications events="events"></notifications>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <br>

</div>
