<div class="vwalk-banner">
	<div class="wmuSlider">
		<div class="wmuSliderWrapper example1">
			<article style="opacity: 0;">
				<div class="banner-wrap" style="margin-left: 50px;">
					<div class="slider-left">
						<h3>Wejście</h3>
						<h2>Główne</h2>
						<div class="project-list2"
							style="width: 150px; float: right; margin-right: 20px">
							<ul>
								<li><a href="#"><img src="\images\arrow-upleft.png"></a></li>
								<li><a href="#"><img src="\images\arrow-up.png"></a></li>
								<li><a href="#"><img src="\images\arrow-upright.png"></a></li>
								<li><a href="#"><img src="\images\arrow-left.png"></a></li>
								<li><a href="#"><img src="\images\arrow-default.png"></a></li>
								<li><a href="#"><img src="\images\arrow-right.png"></a></li>
								<li><a href="#"><img src="\images\arrow-downleft.png"></a></li>
								<li><a href="#"><img src="\images\arrow-down.png"></a></li>
								<li><a href="#"><img src="\images\arrow-downright.png"></a></li>
								<li><a href="#"><img src="\images\camera2.png"></a></li>

								<div class="clear"></div>
							</ul>
						</div>
					</div>
					<div class="slider-right">
						<video autoplay width="640" height="480">
   							<source src="/getLiveCamera2" type='video/webm' />
  						</video>
					</div>
					<div class="clear"></div>
				</div>
			</article>

			<ul class="wmuSliderPagination">
				<li><a href="#" class="wmuActive">1</a></li>
			</ul>
		</div>
	</div>
</div>
<script src="js/jquery.wmuSlider.js"></script>
<script>
	$('.example1').wmuSlider({
		slideshowSpeed : 10000,
		touch : true
	});
</script>

