
<div class="clear"></div>
<div class="blog-left">
	<div class="blog-bg">
		<h4>Użytkownicy sieci</h4>
		<span class="author">od 2014-10-10 do 2014-11-11</span>
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>

<div class="project-list2" ng-controller="networkUsageByChartController"
	ng-init="selectedView = 'hours'">
	<h4>Widok:</h4>
	<ul>
		<li ng-if="selectedView!='hours'"
			ng-click="changeSelectedView('hours')"
			style="background: rgba(0, 0, 0, 0)"><a style="color: #ffea00">Godziny</a></li>
		<li ng-if="selectedView=='hours'" style=""><a>Godziny</a></li>
		<li ng-if="selectedView!='weekdays'"
			ng-click="changeSelectedView('weekdays')"
			style="background: rgba(0, 0, 0, 0)"><a style="color: #ffea00">Dni
				tygodnia</a></li>
		<li ng-if="selectedView=='weekdays'" style=""><a>Dni tygodnia</a></li>
		<li ng-if="selectedView!='monthdays'"
			ng-click="changeSelectedView('monthdays')"
			style="background: rgba(0, 0, 0, 0)"><a style="color: #ffea00">Dni
				miesiąca</a></li>
		<li ng-if="selectedView=='monthdays'" style=""><a>Dni
				miesiąca</a></li>

		<li ng-if="selectedView!='months'"
			ng-click="changeSelectedView('months')"
			style="background: rgba(0, 0, 0, 0)"><a style="color: #ffea00">Miesiące</a></li>
		<li ng-if="selectedView=='months'" style=""><a>Miesiące</a></li>
		<div class="clear"></div>


	</ul>
	<nvd3-multi-bar-chart data="usageByChart" id="usageByHourId"
		showXAxis="true" showYAxis="true" tooltips="true" interactive="true"
		useInteractiveGuideline="true" stacked="true"
		toolTipContent="toolTipContentFunction()"
		xAxisTickFormat="xAxisTickFormat()"
		yAxisTickFormat="yAxisTickFormat()"> <svg
		style="padding-left: 0; width: 100%; height: 30em"></svg> </nvd3-multi-bar-chart>
</div>
