
<div class="content-middle">
	<div class="main" ng-controller="networkUsageController">
		<div class="project-wrapper">
			<div class="project">
				<div ng-include="'partials/network/usersTable.html'"></div>
				<div ng-include="'partials/network/connections.html'"></div>
				<div ng-include="'partials/network/usageByChart.html'"></div>
			</div>
		</div>

		<div class="project-sidebar">
			<div class="project-list">
				<div ng-include="'partials/network/search.html'"></div>
			</div>
			<div class="project-list">
				<div ng-include="'partials/network/usageSummaryChart.html'"></div>
			</div>
			<div class="project-list2">
				<div ng-include="'partials/network/sankey.html'"> </div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
