<br>
<h2>
	<span>Nasza oferta</span>
</h2>
<p>
	Do wynajęcia mamy kilka mieszkań w tym samym budynku na terenie
	dzielnicy Zwierzyniec przy ul. Salwatorskiej. <BR> Mieszkania
	zlokalizowane są w kameralnej i spokojnej dzielnicy w centrum miasta. W
	niedalekiej odległości znajdują się krakowskie Błonia, Bulwary Wiślane
	oraz Rynek Główny(około 15 min. spacerem). Blisko znajdują się również
	uczelnie AGH, UP oraz UR. Na terenie dzielnicy znajdują się różnego
	typu punkty usługowo - handlowe, apteka, poczta, bazar owocowo -
	warzywny oraz kawiarnie. <BR>Mieszkanie zlokalizowane w ścisłym
	centrum pozwalającym na szybkie dotarcie w każde miejsce Krakowa.
	Przystanki autobusowe oraz tramwajowe znajdują się około 5 min.
	spacerem. Bardzo dobrze skomunikowany punkt ze wszystkimi częściami
	Krakowa. Budynek: Odświeżona kamienica zlokalizowana w ciągu kamienic.
	Mieszkanie: Kawalerka o pow. 36 m2 po generalnym remoncie obejmującym
	również instalację. Usytuowane na parterze 3-piętrowej kamienicy.
	Mieszkanie bardzo przestronne, składające się z niezależnego pokoju,
	kuchni, łazienki, a także przedpokoju. W pełni wyposażone (sprzęt AGD w
	kuchni oraz łazience) oraz umeblowane. W mieszkaniu znajduje się pełna
	instalacja TV/internet. Ogrzewanie centralne miejskie.
</p>
