
<div class="wmuSlider example1">
	<div class="wmuSliderWrapper">
		<article style="opacity: 0;">
			<div class="banner-wrap" style="margin-left: 15px;">
				<div class="slider-left">
					<h3>Wirtualny</h3>
					<h2>Spacer</h2>
				</div>
				<div class="slider-right">
					<iframe id="ytplayer" type="text/html"
						src="https://www.youtube.com/embed/oy-cqOx8idA?autoplay=1&controls=0&disablekb=1&loop=1&modestbranding=1&rel=0&showinfo=0&iv_load_policy=3"
						frameborder="0" allowfullscreen />
				</div>
			</div>
			<div class="clear"></div>
		</article>
		<article>
			<div class="banner-wrap">
				<div class="slider-left">
					<iframe id="ytplayer" type="text/html"
						src="https://www.youtube.com/embed/gdeRwklPyvg?autoplay=1&controls=0&disablekb=1&loop=1&modestbranding=1&rel=0&showinfo=0&iv_load_policy=3&wmode=transparent"
						frameborder="0" allowfullscreen style="margin-top: -100px" />
				</div>

				<div class="slider-right">
					<h2>Wirtualny</h2>
					<h3>Spacer</h3>
				</div>
			</div>
			<div class="clear"></div>
		</article>
		<article style="opacity: 0;">
			<div class="banner-wrap" style="margin-left: 10px;">
				<div class="slider-left">
					<h2>Plan</h2>
					<h3>Budynku</h3>
				</div>
				<div class="slider-right">
					<iframe id="ytplayer" type="text/html"
						src="https://www.youtube.com/embed/sNRzYAu7jCo?autoplay=1&controls=0&disablekb=1&loop=1&modestbranding=1&rel=0&showinfo=0&iv_load_policy=3"
						frameborder="0" allowfullscreen />
				</div>
			</div>
			<div class="clear"></div>
		</article>

		<ul class="wmuSliderPagination">
			<li><a href="#" class="wmuActive">1</a></li>
		</ul>
	</div>

	<a class="wmuSliderPrev">Previous</a> <a class="wmuSliderNext">Next</a>

</div>
<script src="js/jquery.wmuSlider.js"></script>
<script type="text/javascript" src="js/modernizr.custom.min.js"></script>
<script>
	$('.example1').wmuSlider();
</script>