
<div class="footer-top">
	<div class="wrap">
		<div class="section group">
			<div class="col_1_of_3 span_1_of_3">
				<h3>O nas</h3>
				<p>Nie jesteśmy agencją pośrednictwa. Mamy do wynajmu kilka
					lokali w tym samym budynku. Prowadzimy przeważnie najem na okres
					jednego roku, z możliwością przedłużenia. Jeżeli interesuje Cię
					najem tylko na kilka miesięcy, jesteśmy również otwarci na takie
					propozycję.</p>
				<div class="follow">
					<h4>Śledź nas</h4>
					<p>Jeżeli w tej chwili nie mamy żadnych mieszkań do wynajęcia,
						interesuje Cię ta okolica i możesz poczekać. Wyślij do nas prośbę
						a poinformujemy Cię jeżeli będziemy mieli jakiś lokal do
						wynajęcia. Zapraszamy również agencje nieruchomości do
						subskrypcji.</p>
					<div class="search">
						<form
							action="MAILTO:administracja@salwatorska.pl?subject=Subskrybcja&body=Proszę o informowanie mnie o dostępności mieszkań."
							method="POST">
							<input id="body" name="body" type="text" disabled="true"
								value="Wyślij prośbę o subskrypcję oraz ewentualnie jakąś wiadomość.">
							<input type="submit" value="">
						</form>
					</div>
				</div>
			</div>
			<div class="col_1_of_3 span_1_of_3">
				<h3>Dla pośredników</h3>
				<div class="footer-list">
					<ul>
						<li><img src="images/nomoney.png" alt="" />
							<p>
								<span class="small">Nie płacimy</span> pośrednikom prowizji.
								Jeżeli Wasz klient jest zainteresowany, można się z nami umówić
								na oglądnięcie mieszkania.
							<div class="clear"></div></li>
						<li><img src="images/camera.png" alt="" />
							<p>
								<span class="small">Zgadamy się</span> na wykorzystanie naszych
								zdjęć w celu prezentacji naszych lokali klientom Waszego biura
								pośrednictwa.
							<div class="clear"></div></li>
						<li><img src="images/agreement.png" alt="" />
							<p>
								<span class="small">Nie podpisujemy </span> umów o pośrednictwo.
								A tym bardziej umów o wyłączność.
							<div class="clear"></div></li>
					</ul>
				</div>
			</div>
			<div class="col_1_of_3 span_1_of_3">
				<h3>Kontakt</h3>
				<div class="footer-list">
					<ul>
						<li><a
							href="https://www.google.pl/maps/place/Tanie+mieszkanie+do+wynaj%C4%99cia+Krak%C3%B3w+Salwator%2FZwierzyniec+%2F+Apartment+to+rent/@50.0556227,19.9199284,17z/data=!4m7!1m4!3m3!1s0x47165b75f5c9ebd9:0x7b2974ac52ceb9a!2sSalwatorska,+Krak%C3%B3w!3b1!3m1!1s0x0:0xf80b3697e5808c3e"><img
								src="images/address.png" alt="" />
								<p>Kraków, Salwator/Zwierzyniec
								<div class="clear"></div></a></li>
						<li><img src="images/phone.png" alt="" />
							<p>
								Telefon: <span class="yellow"><a
									href="callto:+48505702887">+48 505 702 887</a></span>
							</p>
							<div class="clear"></div></li>
						<li><img src="images/msg.png" alt="" />
							<p>
								Email: <span class="yellow"><a
									href="mailto:salwatorska@gmail.com&subject=Wynajem mieszkania">salwatorska@gmail.com</a></span>
							</p>
							<div class="clear"></div></li>
					</ul>
				</div>
				<div class="social-icons">
					<h4>Sieci społecznościowe</h4>
					<ul>
						<li class="facebook"><a
							href="http://www.facebook.com/profile.php?id=100002322961668"><span>
							</span></a></li>
						<li class="google"><a
							href="https://plus.google.com/u/0/b/105502294619535778475/dashboard/overview"><span>
							</span></a></li>
						<li class="youtube"><a
							href="https://www.youtube.com/user/salwatorska"><span>
							</span></a></li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div class="footer-bottom">
	<div class="wrap">
		<div class="copy">
			<p class="copy">
				© 2013 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a>
			</p>
		</div>
		<div class="footer-nav">
			<ul>
				<li><a href="index.html">O nas</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>